[Unit]
Description=Home Assistant in Docker container running as a service
After=docker.service
Requires=docker.service

[Service]
Restart=no
RestartSec=60s
Type=simple
NotifyAccess=all
ExecStart=-/usr/bin/systemdock -a start -n home-assistant
ExecStop=/usr/bin/systemdock -a stop -n home-assistant

[Install]
WantedBy=multi-user.target
